<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CSSP-v2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>getGalleryContents</display-name>
    <servlet-name>getGalleryContents</servlet-name>
    <servlet-class>courses.alex.servlets.getGalleryContents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getGalleryContents</servlet-name>
    <url-pattern>/getGalleryContents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getUploadImgUrl</display-name>
    <servlet-name>getUploadImgUrl</servlet-name>
    <servlet-class>courses.alex.servlets.getUploadImgUrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUploadImgUrl</servlet-name>
    <url-pattern>/getUploadImgUrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>saveGalleryData</display-name>
    <servlet-name>saveGalleryData</servlet-name>
    <servlet-class>courses.alex.servlets.saveGalleryData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveGalleryData</servlet-name>
    <url-pattern>/saveGalleryData</url-pattern>
  </servlet-mapping>
</web-app>